.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.inputLabel{
    display: flex;
    text-align: justify;
    flex-direction: column;
    width: 300px;
    border: 2px solid #000;
}

.input{
    height: 30px;
}

.button{
    text-align: center;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #5f5f5f;
    transition: border-color 0.25s;
    margin: 20px;
    width: 300px;
    height: 40px;
}

.button:hover{
    border-color: #0271e0;
}